.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
simulation_experiments_scripts/section_4_1/G4/general_grhmc_normal_output.RDS
simulation_experiments_scripts/section_5/BLR1/general_grhmc_bayesian_logistic_regression_pima_output.RDS
simulation_experiments_scripts/section_5/BLR2/general_grhmc_bayesian_logistic_regression_german_credit_output.RDS

